#container {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color: #fff; 
    text-align: center
}

#header {
    width: 100%;    
}

#flower-gif {
    max-width: 200px;
    position: absolute;
    top: 15%;
    right: 300px;
}

#container h1 {
    margin-top: 10%;
    font-size: 3.5rem;
    color: #E6A192;
}

#container p {
    font-size: 1.6rem;
    color: #3C231E;    
    font-weight: bold;
}

#second-part {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -10%;
}

#last-part {
    background-color: #E6A192;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
 
#upload {
    display: none;
} 

#design-button {
    display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.5em 0.8em 1.2em;
  color: white;
  background: #EFB7A4;
  background: linear-gradient(0deg, #e8846e 0%, #E6A192 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #e8846e;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

    #design-button svg {margin-right: 8px;}

    #design-button:hover {
        box-shadow: 0 0.5em 1.5em -0.5em #ca6d58;
        background-color: #E6A192;
        transition: .3s ease-in;
    }

    #design-button:active { box-shadow: 0 0.3em 1em -0.5em #e8846e; }

 #show-imagens {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .preview {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
 }

 #palette {
    display: flex;
    justify-content: center;
    align-items: center;
 }

.color-box {
    position: relative;
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.color-box:hover {
    
}
